  <div class="container contenido">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-lg-4">
                    <div class="input-group">
                      
                             {{input id="fechaInicio" type="text" value=dateInitial class="form-control search-small" placeholder=" Fecha Inicial" }}
                       <div class="input-group-btn">
                            <button type="button" onclick="$('#fechaInicio').datepicker('show')" class="btn btn-default">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-4">
                    <div class="input-group">
                      {{input type="text" value=dateFinal id="fechaFin" class="form-control search-small" placeholder=" Fecha final" }}
                        <div class="input-group-btn">
                            <button type="button" onclick="$('#fechaFin').datepicker('show')" class="btn btn-default">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-4">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-barcode"></span></button>
                        </div>
                       {{input type="text" value=or class="form-control search-small" placeholder=" #OR" }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-lg-4">
                    <div class="form-group">
                         {{input type="text" value=filter class="form-control search-small" placeholder="Buscar ..." }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-lg-2">
                    <button class="btn btn-warning" role="button">
                        Buscar <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div> 
                 <div class="col-xs-12 col-sm-2 col-lg-2">
                        <button {{action 'createNewFormulario'}} class="btn btn-warning" role="button">
                      <i class="glyphicon glyphicon-plus"></i>  Agregar Nueva forma 
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Mostrando 1 - 5 de 5 resultados de busqueda. <a href="#" class="txt-primary">[Exportar Excel]</a></p>
            <p></p>
            <!-- Array de datos -->

            <table class="table">
                <thead>
                    <tr class="txt-primary">
                        <th>OR#</th>
                        <th>Marca Modelo</th>
                        <th>Estatus</th>
                        <th class="hide-sm" colspan="5">Inspección</th>
                        <th class="hide-sm">Actualizado</th>
                        <th class="hide-sm">Equipo</th>
                        <th class="hide-sm">Acciones</th>
                    </tr>
                </thead>
                <tbody>
       
                 {{#each model as |forma|}}
{{forma.tipo_auto.id}}
                 <tr>
                    <td>{{forma.id}}</td>
                    <td>{{forma.autos.idcat_autos}}/{{forma.auto.placas}}</td>
                    <td>{{forma.estatus_inspeccion}}</td>
                    <td class="success hide-sm">{{forma.urgentes_count}}</td>
                    <td class="warning hide-sm">{{forma.sugeridos_count}}</td>
                    <td class="danger hide-sm">{{forma.sinreparacion_count}}</td>
                    <td class="icon hide-sm"><span class="glyphicon glyphicon-eye-open"></span></td>
                    <td class="icon hide-sm"><span class="glyphicon glyphicon-bell"></span></td>
                    <td class="hide-sm">{{forma.fecha_actualizacion}}</td>
                    <td class="hide-sm">AA</td>
                    <td class="hide-sm">  <button {{action 'goToFormulario' forma}} type="button" class="btn btn-default settings pull-center edit-row" type="button">
                <i class="glyphicon glyphicon-edit"></i> Editar </button>
             <button {{action 'goToPuntos' forma}} type="button" class="btn btn-default settings pull-center edit-row" type="button">
                <i class="glyphicon glyphicon-eye-open"></i> Puntos de Inspeccion </button></td>
                </tr>
               
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>

